
section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 300px;
}

.piano-keys {
    display: flex;
    background-color: #fff;
    height: 200px;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 5px; 
}


.white {
    width: 10%; 
    height: 100%;
    border-radius: 5px; 
    background: linear-gradient(#fff 96%, #eee 4%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); 
    transition: background 0.3s; 
}

.piano-keys .white {
  /* Estilo normal para teclas blancas */
  opacity: 0.7; /* Teclas blancas ligeramente transparentes por defecto */
  transition: opacity 0.3s; /* Agrega una transición de opacidad */
}

.piano-keys .white.active {
  opacity: 1; /* Teclas blancas completamente opacas cuando están activas */

    background: #fff; 
}

.black {
    z-index: 2;
    width: 6%;
    height: 80%;
    border-radius: 0 0 5px 5px;
    background: #333;
    color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}
.piano-keys .black.active {
    box-shadow: inset -5px -10px 10px rgba(255,255,255,0.1);
    background:linear-gradient(to bottom, #000, #434343);
  }