body {
    background-color: cyan;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#paper,
#scissor,
#stone {
    height: 32em;
    width: 32em;
}

h1 {
   font-size: 40px;
}

h2 {
   font-size: 30px;
}
h3 {
   font-size: 25px;
}
#header{
    display: flex;
    justify-content: center;
}
#round {

    display: flex;
    flex-direction: column;
    align-items: center;


    & #startPlay {
        font-size: 20px;
    }

    & #buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;

    }
}

#result {
    display: flex;
    align-items: center;
    flex-direction: column;
    & p{
        display: flex;
        gap: 10px;
        align-items: center;
        & #resultPl{
            padding-left: 22px;
        }
       
    }

    & img {

        height: 25em;
        width: 25em;
    }
}

.score{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25em;
    margin-bottom: 10px;
    background-color: #FF5733; /* Cambia a tu color deseado */
    color: #FFFFFF; /* Cambia a tu color deseado */
    padding: 5px 10px; /* Añade espaciado alrededor del texto */
    border: 2px solid #E34200; /* Cambia a tu color deseado */
    border-radius: 8px; /* Ajusta según sea necesario */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
@keyframes parpadeo {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#scorePlayer,
#scoreComputer {
    animation: parpadeo 3s infinite;
    -webkit-animation: parpadeo 3s infinite;
}





#play{
    display: none;
    & button{
        width: 12em;
        height: 8em;
    }
}
