body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5em;

}

h1 {
    align-self: flex-start;
    position: absolute;
    top: 5em;
    left: 25em;
    text-align: center;
    font-size: 30px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10em;
    padding: 3em;
    width: 40em;
    height: 45em;
    background-color: #3b4667;
}

#del,
#reset {
    background-color: #66719c;
    color: #ced8e6;
}

#equal {
    background-color: #c84133;
    color: #ced8e6;
}

button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #3498db;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 120px;
    height: 60px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#screen {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    border: 1px solid black;
    padding-bottom: 10px;
    width: 21em;
    height: 4em;
    background-color: #252627;
    color: #91939a;
    font-size: 30px;

    & p {
        font-size: 33px;
        align-self: center;
    }
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    border: 1px solid black;
    margin-top: 20px;
    width: 37em;

    & #top {
        display: flex;
        flex-direction: row;

        & button {
            margin: 2em;
            width: 5em;
            height: 4em;
        }

    }

    & #medium {
        display: flex;
        flex-direction: row;


        & button {
            margin: 2em;
            width: 5em;
            height: 4em;
        }
    }

    & #medium2 {
        display: flex;
        flex-direction: row;

        & button {
            margin: 2em;
            width: 5em;
            height: 4em;
        }
    }

    & #medium3 {
        display: flex;
        flex-direction: row;

        & button {
            margin: 2em;
            width: 5em;
            height: 4em;
        }
    }

    & #bottom {
        display: flex;
        flex-direction: row;

        & button {
            margin: 2em;
            width: 14em;
            height: 4em;
        }
    }
}

/*responsive mobil*/
@media (max-width: 600px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5em;

    }

    h1 {
        align-self: flex-start;
        position: absolute;
        top: 2em;
        left: 1em;
        text-align: center;
        font-size: 30px;

    }

    section {
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        margin: 5em;
        padding: 11em;
        width: 8em;
        height: 20em;
        background-color: #3b4667;
    }

    #del,
    #reset {
        background-color: #66719c;
        color: #ced8e6;
    }

    #equal {
        background-color: #c84133;
        color: #ced8e6;
    }

    button {
        display: inline-block;
        padding: 10px 20px;
        border: 2px solid #3498db;
        background-color: #3498db;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

    #screen {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        border: 1px solid black;
        padding-bottom: 10px;
        width: 17em;
        height: 3em;
        background-color: #252627;
        color: #91939a;
        font-size: 23px;

        & p {
            font-size: 33px;
            align-self: center;
        }
    }

    .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 5px;
        border: 1px solid black;
        margin-top: 20px;
        width: 25em;

        & #top {
            display: flex;
            flex-direction: row;

            & button {
                margin: 2em;
                width: 4em;
                height: 4em;

                & p {
                    position: relative;
                    bottom: 14px;
                    right: 11px;
                    font-size: 19px;
                }
            }


        }

        & #medium {
            display: flex;
            flex-direction: row;


            & button {
                margin: 2em;
                width: 4em;
                height: 4em;
            }
        }

        & #medium2 {
            display: flex;
            flex-direction: row;

            & button {
                margin: 2em;
                width: 4em;
                height: 4em;
            }
        }

        & #medium3 {
            display: flex;
            flex-direction: row;

            & button {
                margin: 2em;
                width: 4em;
                height: 4em;
            }
        }

        & #bottom {
            display: flex;
            flex-direction: row;

            & button {
                margin: 2em;
                width: 12em;
                height: 4em;

                & p {
                    position: relative;
                    bottom: 14px;
                    right: 5px;
                    font-size: 19px;
                    text-align: center;
                }
            }
        }
    }
}